@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        using (var nav = Html.Bootstrap().Begin(new Nav().Class("navbar-nav").SetLinksActiveByController()))
        {

            @nav.ActionLink("5 ", "Index", "Panier").PrependIcon("glyphicon glyphicon-shopping-cart")
            using (var dd = nav.BeginDropDown(new DropDown("" + User.Identity.GetUserName() + "")))
            {
                @dd.ActionLink("Mon Magasin", "My", "Magasin")
                @dd.ActionLink("Mes Produits", "Index", "Produit")
                @dd.ActionLink("Mon Compte", "Manage", "Account")
                if (User.IsInRole("Admin"))
                {
                    @dd.Header("Admin")
                    @dd.ActionLink("Gestions des Categories", "Index", "Categorie")
                }
            }
            @nav.Link("Se déconnecter", "javascript:document.getElementById('logoutForm').submit()")
        }



    @*<ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Bonjour " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrer" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
    </ul>*@
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S’inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}