@model IEnumerable<MonPanier.Models.Categorie>

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>Index <small> </small></h1>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategorieId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategorieId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategorieId })
        </td>
    </tr>
}

</table>
