@model IEnumerable<MonPanier.Models.Produit>

@{
    ViewBag.Title = "Index";
}


<div class="page-header">
    <h1>Tous mes produits <small> </small></h1>
    Voici la liste de vos produits en vente. <br />
    Ajoutez, Supprimez, Modifiez vos produits !
</div>

<div class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    @Html.ActionLink("Ajouter un produit", "Create")
</div> <br /><br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateValid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Regions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnLigne)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorie.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateValid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantite)
        </td>
        <td>
            @foreach (var region in item.Regions)
            {

                <span class="label label-primary">@region.Nom</span><br />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnLigne)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.ProduitId }) |
            @Html.ActionLink("Détails", "Details", new { id=item.ProduitId }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.ProduitId })
        </td>
    </tr>
}

</table>
