@model IEnumerable<MonPanier.Models.ApplicationUser>

@{
    ViewBag.Title = "Tous les magasins";
}

<div class="page-header">
    <h1>Tous les magasins <small> </small></h1>
</div>

<div class="row">

    <div class="col-md-12">

        <div class="panel">
            <div class="panel-body">

                @foreach (var magasin in Model)
                {
                <!--/stories-->
                    <div class="row">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <a class="story-img" href="#"><img src="/images/1_maraicher.jpg" style="width:100px;height:100px" class="img-circle"></a>
                            <p class="lead">@magasin.Note Note</p>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h3><a href="@Url.Action("Index","Magasin",new {id = @magasin.Id })">@magasin.NomMagasin</a></h3>
                            <div class="row">
                                <div class="col-xs-9">
                                    <p>
                                        @magasin.DescriptionMagasin @magasin.NomMagasin
                                    </p>
                                    <p class="pull-right">
                                        <span class="label label-default">@magasin.UserName</span>
                                    </p>
                                    <ul class="list-inline">
                                        <li><a href="#">Il y a 2 jours</a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Commentairess</a></li>
                                        <li><a href="#"><i class="glyphicon glyphicon-share"></i> @magasin.Produits.Count Produits</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <hr>
                }

                <!--/stories-->
            </div>
        </div>



    </div><!--/col-12-->
</div>