@model MonPanier.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
}


<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>
                    @Model.NomMagasin
                    <p class="lead">@Model.DescriptionMagasin</p>
                </h1>

                <p class="lead">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (@ViewBag.isMyMagasin)
                        {
                            <a href="@Url.Action("Edit", "Magasin")" class="btn btn-default">Modifier mon Magasin</a>
                            <a href="@Url.Action("Index", "Produit")" class="btn btn-default">Mes Produits</a>
                        }
                    }

                
                </p>
            </div>
            <div class="col-md-5">
                <div class="well well-lg">
                    <div class="row">
                        <div class="col-sm-12">
                            Image
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /cont -->


</div>

<div class="row">

    <div class="col-md-12">

        <div class="panel">
            <div class="panel-body">

                @foreach (var produit in Model.Produits) {
                <!--/stories-->
                <div class="row">
                    <br>
                    <div class="col-md-2 col-sm-3 text-center">
                        <a class="story-img" href="#"><img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle"></a>
                        <p class="lead">@produit.Prix €</p>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <h3>@produit.Nom</h3>
                        <div class="row">
                            <div class="col-xs-9">
                                <p>
                                    @produit.Description
                                </p>
                                <p class="pull-right">
                                    @foreach (var region in produit.Regions)
                                    {
                                        <span class="label label-default">@region.Nom</span>
                                    }
                                </p>
                                <ul class="list-inline">
                                <li><a href="#">2 Days Ago</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
                            </div>
                            <div class="col-xs-3">
                                <a href="/" class="btn btn-success pull-right btnNext">Ajouter au Panier <i class="glyphicon glyphicon-shopping-cart"></i></a>

                                @if (@ViewBag.isMyMagasin)
                                {
                                    using (var dd = Html.Bootstrap().Begin(new DropDown("Action").Class("pull-right")))
                                    {
                                        @dd.ActionLink("Modifier", "Edit", "Produit").RouteValues(new { id = produit.ProduitId }).PrependIcon("glyphicon glyphicon-edit")
                                        @dd.ActionLink("Supprimer", "Delete", "Produit").RouteValues(new { id = produit.ProduitId }).PrependIcon("glyphicon glyphicon-trash")
                                    }
                                }
                            </div>
                        </div>
                        <br><br>
                    </div>
                </div>
                <hr>
                }

                <!--/stories-->


                <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>


            </div>
        </div>



    </div><!--/col-12-->
</div>